<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Memory Lane</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <a href="/feed" class="header-logo">Memory Lane</a>
      <nav>
        <div class="profile-nav-button">
          <% if(user[0].profile_picture) {%>
          <img
            src="data:image/jpeg;base64,<%= Buffer.from(user[0].profile_picture)%>"
            alt="Profile Image"
          />
          <% }else{ %>
          <img src="/images/default_profile_img.jpg" alt="" />
          <% }%>
          <div class="dropdown-content">
            <a href="/profile/<%=user[0].user_id %>">Profile</a>
            <a href="/logout">Log Out</a>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <% if (publicMemories[0].length > 0) { %>
      <section class="feed-container">
        <% publicMemories[0].forEach(memory => { %>
        <div class="feed-post">
          <div class="post-heading">
            <% if(memory.profile_picture){%>
            <a href="/profile/<%=memory.user_id%>">
              <img
                src="data:image/jpeg;base64,<%= Buffer.from(memory.profile_picture)%>"
                alt=""
              />
            </a>
            <%} else{%>
            <a href="/profile/<%=memory.user_id%>">
              <img src="/images/default_profile_img.jpg" alt="" />
            </a>
            <%}%>
            <a href="/profile/<%= memory.user_id %>">
              <p class="post-username">
                <%= `${memory.first_name} ${memory.last_name}` %>
              </p>
            </a>
          </div>
          <div class="post-picture">
            <a href="/memory/<%=memory.memory_id%>">
              <img
                src="data:image/jpeg;base64,<%= Buffer.from(memory.picture)%>"
                alt=""
              />
            </a>
          </div>
          <div class="post-description"><%=memory.memory_description %></div>
          <div class="post-dates">
            <p>Created at: <%= memory.created_at %></p>
            <p>Last edit at: <%=memory.last_edit_at %></p>
          </div>
        </div>
        <% }); %>
      </section>

      <div class="pagination">
        <% if (currentPage > 1) { %>
        <a href="/feed?page=<%= currentPage - 1 %>" class="pagination-button"
          >&lt;</a
        >
        <% } %>

        <span class="pagination-current">Page <%= currentPage %></span>

        <% if (publicMemories[0].length === 10) { %>
        <a href="/feed?page=<%= currentPage + 1 %>" class="pagination-button"
          >&gt;</a
        >
        <% } %>
      </div>
      <% } else { %>
      <p>No memories.</p>
      <% } %>
    </main>
    <script src="/js/navDropdown.js"></script>
  </body>
</html>
