<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Memory Lane</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <a href="/feed" class="header-logo">Memory Lane</a>
      <nav>
        <div class="profile-nav-button">
          <% if(user[0].profile_picture) {%>
          <img
            src="data:image/jpeg;base64,<%= Buffer.from(user[0].profile_picture)%>"
            alt="Profile Image"
          />
          <% }else{ %>
          <img src="/images/default_profile_img.jpg" alt="" />
          <% }%>
          <div class="dropdown-content">
            <a href="/profile/<%=user[0].user_id %>">Profile</a>
            <a href="/logout">Log Out</a>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <section class="user-info-container">
        <div class="profile-picture-container">
          <% if(userData[0].profile_picture) {%>
          <img
            src="data:image/jpeg;base64,<%= Buffer.from(userData[0].profile_picture)%>"
            alt="Profile Image"
          />
          <% }else{ %>
          <img src="/images/default_profile_img.jpg" alt="Profile Image" />
          <% }%>
        </div>
        <div class="username-and-edit-button-container">
          <div id="profile-user-name">
            <%= `${userData[0].first_name} ${userData[0].last_name}` %>
          </div>
          <% if (isOwnProfile) { %>
          <a href="/editprofile"
            ><button id="edit-profile-button">Edit profile</button></a
          >
          <% } %>
        </div>
      </section>
      <br />
      <hr />
      <br />
      <div class="new-timeline-button-container">
        <% if (isOwnProfile) { %>
        <button id="new-timeline-button">New Timeline</button>
        <% } %>
      </div>
      <% if (timelinesData[0].length>0) { %>
      <section class="timeline-select-container">
        <% timelinesData[0].forEach(timeline => { %>
        <a href="/timeline/<%= timeline.timeline_id %>">
          <div class="timeline-item"><%= timeline.title %></div>
        </a>
        <% }); %>
      </section>
      <% } else { %>
      <p>No timelines found.</p>
      <% } %>

      <div class="modal" id="new-timeline-modal">
        <div class="modal-content">
          <div class="modal-header">
            <span id="close-new-timeline-modal" class="close">&times;</span>
            <h2>Add New Timeline</h2>
          </div>
          <br />
          <form
            id="new-timeline-form"
            action="/createnewtimeline"
            method="POST"
          >
            <label for="new-timeline-name">Timeline name:</label>
            <input type="text" id="new-timeline-name" name="title" required />
            <br />
            <label for="new-timeline-private-toggle">Private timeline:</label>
            <select id="new-timeline-private-toggle" name="isPrivate">
              <option value="false">No</option>
              <option value="true">Yes</option></select
            ><br /><br />

            <button class="modal-submit-button">Add Timeline</button>
          </form>
        </div>
      </div>
    </main>
    <script src="/js/navDropdown.js"></script>
    <script src="/js/newTimelineModal.js"></script>
    <script>
      window.addEventListener("click", (event) => {
        if (event.target == document.querySelector("#new-timeline-modal")) {
          document.querySelector("#new-timeline-modal").style.display = "none";
        }
      });
    </script>
  </body>
</html>
