<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Memory Lane</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <a href="/feed" class="header-logo">Memory Lane</a>
      <nav>
        <div class="profile-nav-button">
          <% if(user[0].profile_picture) {%>
          <img
            src="data:image/jpeg;base64,<%= Buffer.from(user[0].profile_picture)%>"
            alt="Profile Image"
          />
          <% }else{ %>
          <img src="/images/default_profile_img.jpg" alt="" />
          <% }%>
          <div class="dropdown-content">
            <a href="/profile">Profile</a>
            <a href="/logout">Log Out</a>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <section class="user-info-container">
        <div class="profile-picture-container">
          <% if(user[0].profile_picture) {%>
          <img
            src="data:image/jpeg;base64,<%= Buffer.from(user[0].profile_picture)%>"
            alt="Profile Image"
          />
          <% }else{ %>
          <img src="/images/default_profile_img.jpg" alt="Profile Image" />
          <% }%>
        </div>
        <div class="username-and-edit-button-container">
          <div id="profile-user-name">
            <%= `${user[0].first_name} ${user[0].last_name}` %>
          </div>
          <a href="/editprofile"
            ><button id="edit-profile-button">Edit profile</button></a
          >
        </div>
      </section>
      <br />
      <hr />
      <br />
      <section class="memories-container">
        <div class="current-timeline-container">
          <p class="current-timeline-name">Now in timeline <%= timelineId %></p>
          <button id="new-memory-button">+ New Memory</button>
          <button id="remove-timeline-button">x Delete Timeline</button>
        </div>
        <div class="memories-container">
          <% if (memories[0].length > 0) { %> <% memories[0].forEach(memory => {
          %>
          <div
            class="memory-item"
            style="
              background-image: url('data:image/png;base64, <%= memory.picture %>');
            "
          >
            <%= memory.memory_description %>
          </div>
          <% }); %> <% } else { %>
          <p>No memories found for this timeline.</p>
          <% } %>
        </div>
      </section>
      <div class="modal" id="remove-timeline-modal">
        <div class="modal-content">
          <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Remove Timeline</h2>
          </div>
          <br />
          <h3>Confirm timeline deletion</h3>
          <div class="confirmation buttons-container">
            <button id="yes-confirmation-button">Yes</button>
            <button id="no-confirmation-button">No</button>
          </div>
        </div>
      </div>

      <div class="modal" id="new-memory-modal">
        <div class="modal-content">
          <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Add New Timeline</h2>
          </div>
          <br />
          <form
            id="new-memory-form"
            action="/createnewmemory"
            method="POST"
            enctype="multipart/form-data"
          >
            <label for="new-memory-picture">Upload your picture:</label>
            <input
              type="file"
              accept="image/*"
              id="new-memory-picture"
              name="picture"
              required
            />
            <br />
            <label for="new-memory-description">Description: </label>
            <input type="text" id="new-memory-description" name="description" />
            <input
              hidden
              type="text"
              name="timelineId"
              value="<%= timelineId %>"
            />
            <br /><br />

            <button
              class="add-memory-modal-button"
              id="add-memory-modal-button"
            >
              Add Timeline
            </button>
          </form>
        </div>
      </div>
    </main>
    <script src="/js/navDropdown.js"></script>
    <script src="/js/removeTimelineModal.js"></script>
    <script src="/js/newMemoryModal.js"></script>
  </body>
</html>
